* {
	margin: 0;
	padding: 0;
}
*,
*:before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

.container {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	width: 30rem;
	height: 40rem;
	/* border: 2px solid #111827; */
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	cursor: none;
	/* cursor: url(""); */
    background: #FF4500;
    border-radius: 5px;
}

.box:hover{
    box-shadow:  0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.box:hover span {
	transform: scale(1);
}

.cursor {
	background: white none repeat scroll 0% 0%;
	padding: 16px;
	border-radius: 50%;
	border: 1px solid #111827;
	/* display: none; */
	pointer-events: none;
	transform: translate(-50%, -50%);
	display: none;
	position: fixed;
	transform: scale(0);
	transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
    /* will-change: transform; */
}

.cursor svg {
	stroke: #111827;
	display: block;
}

#eye-lid {
	transform-origin: center center 0px;
	animation: 1500ms ease 0s infinite alternate-reverse none running eyelid;
}

#eye-ball {
	animation: 1500ms ease 0s infinite alternate-reverse none running eyeball;
}

@keyframes eyeball {
	0% {
		transform: translate(0px);
		opacity: 1;
	}
	10% {
		transform: translate(0px, 2px);
		opacity: 0;
	}
	20% {
		transform: translate(0px);
		opacity: 1;
	}
	100% {
		transform: translate(0px);
		opacity: 1;
	}
}

@keyframes eyelid {
	0% {
		transform: scaleY(1);
	}
	10% {
		transform: scaleY(0.2);
	}
	20% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(1);
	}
}
